DnakDATA/
dnakdatafirstset/
Displacements/
eigenvectors*.dat
plot_correlation*.dat
covar_*.dat
EigenvectorModels/dnak-htpg/eigenvectors_dnak-htpg.dat
DnaKDATA/DnaK-HtpG/Data/eigenvectors_htpg-dimer-dnak-polarh_9.0.dat
Covariance/images/plot_correlation_dnak-ADPtoATP-mode7.eps
Covariance/images/plot_correlation_dnak-ADPtoATP-mode12.eps
Covariance/images/plot_correlation_dnak-ADPtoATP-mode14.eps
EigenvectorModels/dnak-dnaj/eigenvectors_dnak-dnaj.dat
EigenvectorModels/dnak-htpg/eigenvectors_dnak-htpg.dat
DnaKDATA/DnaK-HtpG/Data/eigenvectors_htpg-dimer-dnak-polarh_9.0.dat
DnaKDATA/DnaK-DnaJ/Data/eigenvectors_dnak_dnaj2_complex-min-ca_9.0.dat
*.mpg
*.mov
*.swp
*.fls
*.log
*.gz
*.aux
*.blg
*.fdb*
*.bbl
*.pgf
